<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="NavigationManager" type="DevelopmentInProgress.Origin.Navigation.NavigationManager, DevelopmentInProgress.Origin" />
    <alias alias="ModuleNavigator" type="DevelopmentInProgress.Origin.Navigation.ModuleNavigator, DevelopmentInProgress.Origin" />
    <alias alias="IViewContext" type="DevelopmentInProgress.Origin.Context.IViewContext, DevelopmentInProgress.Origin" />
    <alias alias="ViewContext" type="DevelopmentInProgress.Origin.Context.ViewContext, DevelopmentInProgress.Origin" />
    
    <container>
      <register type="NavigationManager" mapTo="NavigationManager">
        <lifetime type="singleton" />
      </register>
      <register type="ModuleNavigator" mapTo="ModuleNavigator">
        <lifetime type="singleton" />
      </register>
      <register type="IViewContext" mapTo="ViewContext"/>
    </container>
  
  </unity>

</configuration>